@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

button {
  font-family: inherit;
  font-size: 0.9375rem;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  border: 2px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.2s ease;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  min-height: $touch-target-size;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    outline: none;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $text-color-white;
  border-color: $primary-color;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $primary-hover;
      border-color: $primary-hover;
      box-shadow: $shadow-hover;
    }
  }

  &:active:not(:disabled) {
    background-color: $primary-hover;
    transform: translateY(1px);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $secondary-color;
  border-color: $secondary-color;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $secondary-color;
      color: $text-color-white;
      box-shadow: $shadow-hover;
    }
  }

  &:active:not(:disabled) {
    background-color: $secondary-hover;
    border-color: $secondary-hover;
    color: $text-color-white;
    transform: translateY(1px);
  }
}

.btn-danger {
  background-color: $danger-color;
  color: $text-color-white;
  border-color: $danger-color;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $danger-hover;
      border-color: $danger-hover;
      box-shadow: $shadow-hover;
    }
  }

  &:active:not(:disabled) {
    background-color: $danger-hover;
    transform: translateY(1px);
  }
}

@include mobile {
    button {
      width: 100%;
      max-width: 100%;
    }
  }

@include tablet-up {
  button {
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    min-width: 120px;
  }
}

@include desktop {
  button {
    padding: 0.9rem 2rem;
    font-size: 1.06rem;
    min-width: 140px;
  }
}

