@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  color: $text-color;
  background-color: $bg-color;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  width: 100%;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  
  @media (min-width: $tablet) {
    padding: 2rem;
  }
  
  @media (min-width: $desktop) {
    padding: 2rem 3rem;
  }
}


input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  transition: border-color 0.2s ease;
  
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
  
  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }
}

textarea {
  resize: vertical;
  min-height: 150px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  &:focus {
    outline: none;
  }
  
  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.error-message {
  color: $error-color;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
