@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field__label {
  font-weight: 600;
  color: $text-color;
  font-size: 1rem;
}

.form-field__input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s ease;
}

.form-field__input:focus {
  outline: none;
  border-color: $secondary-color;
}

.form-field__input--error {
  border-color: $error-color;
}

.form-field__textarea {
  min-height: 200px;
  resize: vertical;
  line-height: 1.6;
}

@include tablet-up {
  .form-field__textarea {
    min-height: 250px;
  }
}

@include desktop {
  .form-field__textarea {
    min-height: 300px;
  }
}

